@use "./resets" as *;
@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;

.footer {
    background-color: $primary-dark;
    color: $primary-light;
    padding: 1.5rem 1rem 1rem 1rem;

    @include tablet {
        padding: 2.5rem 2rem 2rem 2rem;
    }

    @include desktop {
        padding-bottom: 2rem;
    }

    &__card-container {
        @include desktop {
            @include contain;
        }
    }

    &__card {
        margin-bottom: 1.5rem;
    }

    &__heading-card {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__heading {
        padding: 0.5rem 0;

        @include tablet {
            margin-right: 2rem;
        }
    }

    &__icons {

        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &__icon {
        margin-right: 2rem;
        margin-top: 1em;

        @include tablet {
            margin-left: 0.5rem;
        }
    }

    &__logo {
        width: 7.5rem;
        margin: 2rem 0 1rem 0;
    }

    &__logo--top {
        display: none;

        @include tablet {
            display: block;
            margin-top: 0.75rem;
        }
    }

    &__logo--bottom {
        @include tablet {
            display: none;
        }
    }

    &__cards {
        @include tablet {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
        }

        @include desktop {
            width: 70%;
        }

    }

    &__agency {
        @include tablet {
            font-size: 0.9rem;
        }
    }

    &__textbox {
        display: flex;
        flex-direction: column;
        margin: 1em 0;

        @include tablet {
            margin: 1rem 0;
        }
    }

    &__email {
        color: $primary-light;
    }

    &__copyright-card {
        display: flex;
        flex-direction: column;
    }

    &__copyright {
        font-size: 0.7rem;

        @include tablet {
            font-size: 0.9rem;
        }
    }
}