@use "./resets" as *;
@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;

.hero {
    &__background-image {
        background-position: center;
        background-size: cover;
        width: 100%;
    }


    &__background-cover {
        background-color: rgba(50, 50, 50, 0.5);
        @include flex;
        @include align-items-center;
    }

    &__heading {
        color: $primary-light;
        padding-left: 1rem;

        @media (min-width: $breakpoint-tablet) {
            padding-left: 2rem;
        }

        @media (min-width: $breakpoint-desktop) {
            width: 63.75rem;
            @include contain;
        }
    }
}