@use "./resets" as *;
@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;
@use "./fonts" as *;


.hero {
    &__background-image {
        @include hero-image;
        background-image: url(../assets/images/hero-bio.jpg);
        height: 55vw;
    }

    &__background-cover {
        @include hero-cover;
        height: 55vw;
    }

    &__heading {
        @include hero-heading;

        @include desktop {
            width: 63.75rem;
        }
    }
}