@use "breakpoints" as *;

//media query mixins
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;

    }
}

@mixin contain {
    @media (min-width: $breakpoint-desktop) {
        max-width: 63.75rem;
        margin: 0 auto;
    }
}

//flexbox mixins
@mixin flex {
    display: flex;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin align-items-center {
    align-items: center;
}

@mixin flex-direction-column {
    flex-direction: column;
}

@mixin justify-content-space-between {
    justify-content: space-between;
}

@mixin justify-content-flex-start {
    justify-content: flex-start
}

//display none mixin 
@mixin display-none {
    display: none;
}