@use "breakpoints" as *;
@use "colors" as *;

//media query mixins
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;

    }
}

@mixin contain {
    @media (min-width: $breakpoint-desktop) {
        max-width: 63.75rem;
        margin: 0 auto;
    }
}

//flexbox mixins
@mixin flex {
    display: flex;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin align-items-center {
    align-items: center;
}

@mixin flex-direction-column {
    flex-direction: column;
}

@mixin justify-content-space-between {
    justify-content: space-between;
}

@mixin justify-content-center {
    justify-content: center;
}

//display none mixin 
@mixin display-none {
    display: none;
}

//hero image format mixin
@mixin hero-bg-image {
    background-position: center;
    background-size: cover;
    width: 100%;
}

@mixin hero-bg-cover {
    background-color: rgba(50, 50, 50, 0.5);
    @include flex;
    @include align-items-center;
}

@mixin hero-heading {
    color: $primary-light;
    padding-left: 1rem;

    @media (min-width: $breakpoint-tablet) {
        padding-left: 2rem;
    }

    @media (min-width: $breakpoint-desktop) {
        width: 63.75rem;
        @include contain;
    }
}

@mixin button {
    display: block;
    color: $primary-light;
    background-color: $primary-dark;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
    @include flex;
    @include align-items-center;
    @include justify-content-center;

    @include tablet {
        width: 10rem;
        padding: 0rem 2rem;
    }
}

@mixin button-hover {
    background-color: $secondary-dark;
}