@use "fonts" as *;
@use "colors" as *;
@use "mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    width: 100%;
    background-color: $primary-light;
    color: $primary-dark;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}