@use "./resets" as *;
@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;
@use "./fonts" as *;

.shows {
    &__container {

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include desktop {
            flex-direction: row;
            @include contain;
        }
    }

    &__header {
        margin: 2rem 1rem 1rem 1rem;
        color: $secondary-dark;

        @include tablet {
            margin: 3rem 0 1.5rem 2rem;
        }

        @include desktop {
            margin: 3rem 0 0 0;
            width: 25%;
        }
    }

    &__card {

        @include tablet {
            margin: 0 1rem 2rem 1rem;
        }

        @include desktop {
            margin: 3rem 0 2rem 0;
            width: 75%;
        }
    }

    &__row {

        @include tablet {
            display: flex;
            align-items: center;
            padding: 0 1rem;
        }
    }

    &__row--titles {
        @include tablet {
            max-width: calc(100% - 15rem);
            justify-content: space-between;
        }
    }

    &__label {
        margin: 1rem 0 0.25rem 0;
        @include label-fontstyle;

        &--row {
            display: none;

            @include tablet {
                display: block;
                flex-basis: 25%;
            }
        }

        &--col {
            @include tablet {
                display: none;
            }
        }
    }

    &__row--shows {
        padding: 0 1rem;
        border-bottom: 2px solid $secondary-medium;
        cursor: pointer;
    }

    &__row--shows:hover {
        background-color: $secondary-light;
    }

    &__textbox {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-basis: 25%;
        }
    }

    &__row--selected {
        background-color: $secondary-medium;
    }

    &__row--selected:hover {
        background-color: $secondary-medium;
    }

    &__text {
        font-size: 0.8rem;
        font-weight: 600;
    }

    &__date {
        font-weight: 700;
    }

    &__button {
        @include button;
    }

    &__button:hover {
        @include button-hover;
    }
}