@use "./partials/navigation" as *;
@use "./partials/hero" as *;
@use "./partials/footer" as *;
@use "./partials/resets" as *;
@use "./partials/colors" as *;
@use "./partials/breakpoints" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/fonts" as *;



.hero {
    &__background-image {
        background-image: url(../assets/images/hero-bio.jpg);
        height: 55vw;
    }

    &__background-cover {
        height: 55vw;
    }
}

.about {
    padding: 1.5rem 1rem;

    @include desktop {
        padding: 2rem 0;
        @include contain;
    }

    &__heading {
        margin-bottom: 1rem;

        @include tablet {
            padding-left: 2rem;
            margin: 1.5rem 0rem;
        }

        @include desktop {
            margin: 1rem 0 2.5rem 0;
        }
    }

    &__container {
        @include tablet {
            margin: 0 5rem;
        }
    }

    &__image {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        object-position: bottom;
        margin-bottom: 0.5rem;

        @include tablet {
            height: 45vw;
        }

        @include desktop {
            height: 37vw;
        }
    }

    &__quote {
        display: block;
        font-size: 0.9rem;
        line-height: 1.4rem;
        font-weight: 600;

        @include tablet {
            font-size: 1.25rem;
            padding: 1rem 0;
            line-height: 1.5em;
        }

        @include desktop {
            width: 83%;
            font-size: 1.5rem;
        }
    }

    &__quote-name {
        display: block;

        @include tablet {
            font-size: 1rem;
            padding: 0.5rem;
        }
    }

    &__subheading {
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: 1rem;

        @include tablet {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }

    &__textbox {

        @include tablet {
            @include flex;
            @include justify-content-space-between;
        }
    }

    &__text {
        padding: 0.5rem 0;

        @include tablet {
            width: 48%;
            font-size: 0.9rem
        }
    }
}

.gallery {
    padding: 1.5rem 1rem 0.5rem 1rem;
    background-color: $secondary-light;

    @include tablet {
        padding: 3rem 2.25rem 1rem 2.25rem;
    }

    &__container {
        @include desktop;
        @include contain;
    }

    &__heading {
        margin-bottom: 1.5rem;
    }

    &__images {
        @include tablet {
            @include flex;
            @include flex-wrap;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__image {
        padding: 0.33rem 0;
        width: 100%;
        height: auto;
        filter: grayscale(1);

        @include tablet {
            padding: 0.75rem 0;
            width: 31%;
        }

        @include desktop {
            width: 31.5%;
        }
    }

    &__image:hover {
        filter: grayscale(0);
    }
}

.comments {
    margin: 0 1rem;

    @include tablet {
        margin: 0 2.25rem;
    }

    @include desktop {
        @include contain;
    }

    &__section {
        display: flex;
    }


    &__section--main {
        border-bottom: 2px solid $secondary-medium;

        @include desktop {
            @include contain;
            width: 30rem;

        }
    }

    &__section--added {
        border-bottom: 2px solid $secondary-medium;
    }



    &__image {
        height: 2.25rem;
        width: 2.25rem;
        background-size: cover;
        border-radius: 50%;
        margin: 1.25rem 1rem 0 0;
        background-color: $secondary-medium;

        @include tablet {
            height: 3rem;
            width: 3rem;

        }
    }

    &__image--main {
        background-image: url(../assets/images/Mohan-muruge.jpg);
    }

    &__form {
        width: 100%;
    }

    &__label {
        text-transform: uppercase;
        color: $primary-medium;
        font-size: 0.6rem;
        line-height: 1.25rem;
        font-weight: 700;

        @include tablet {
            font-size: 0.75rem;
        }
    }

    &__form-field {
        height: 2.25rem;
        width: 100%;
        border-radius: 0.25rem;
        padding: 0.75rem;
        margin: 0.025rem 0;
        border: 1px solid $secondary-medium;
        color: $secondary-dark;
        font-family: $font-stack;

        @include tablet {
            height: 3rem;
            padding: 1rem;
        }
    }

    &__form-field::placeholder {
        color: $secondary-dark;
    }

    &__text-input {
        height: 6rem;
        resize: none;
    }

    &__button {
        @include button;
    }

    &__button:hover {
        @include button-hover;
    }

    &__container {
        @include flex;
        flex-direction: column;

        @include desktop {
            @include contain;
            width: 30rem;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        line-height: 1.1rem;
        font-weight: 400;

        @include tablet {
            font-size: 0.9rem;
        }
    }

    &__comment-header {
        display: flex;
        justify-content: space-between;
    }

    &__username {
        font-weight: 600;
    }

    &__date {
        color: $secondary-medium;
    }
}