@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Avenir";
  width: 100%;
  background-color: #FFFFFF;
  color: #323232;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 600;
  color: #000000;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}

nav {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
}

header {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  header {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

footer {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer {
    font-size: 0.9rem;
  }
}

h4 {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 600;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem 1rem 0.5rem 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer__card-container {
    max-width: 63.75rem;
    margin: 0 auto;
  }
}
.footer__card {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .footer__heading-card {
    display: flex;
    justify-content: space-between;
  }
}
.footer__heading {
  padding: 0.5rem 0;
}
@media (min-width: 768px) {
  .footer__heading {
    margin-right: 2rem;
  }
}
@media (min-width: 768px) {
  .footer__icons {
    display: flex;
    align-items: center;
  }
}
.footer__icon {
  margin-right: 2rem;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .footer__icon {
    margin-left: 0.5rem;
  }
}
.footer__logo {
  width: 7.5rem;
  margin: 2rem 0 1rem 0;
}
.footer__logo--top {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--top {
    display: block;
    margin-top: 0.75rem;
  }
}
@media (min-width: 768px) {
  .footer__logo--bottom {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__cards {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .footer__cards {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .footer__subheading {
    font-size: 0.9rem;
  }
}
.footer__textbox {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
@media (min-width: 768px) {
  .footer__textbox {
    margin: 1rem 0;
  }
}
.footer__email {
  color: #FFFFFF;
}
.footer__copyright-card {
  display: flex;
  flex-direction: column;
}
.footer__copyright {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=global.css.map */